@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1554274113645'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1554274113645#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABjwAAAJFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIXwE2AiQDCAsGAAQgBYRtBy8bhAXILrBt2JMidsPVDVsDhj71AoAQQbTGZu8PU8l4Fk1kPBUSxAalWCh4Cb//a5oSC5vny7KKUKE/yD/gXErP16mRUhNyE25ygzcF9kxmA934vPAdW1p6PkiAUYkHyJxLYco+ce/0jwIKZL7zLpc5Jk3qAuriQAp0D4wiK5LIG8YueIGPCdQa1JbZW+5PUJbZqwJx71galAtRWWaFaqGy4WAWTypUp4c08Bh9P/4No5qkomC3HF4uTBh/cUqKWOYiIMQI6HgFCswDmThtzO7LCcbKqc3mjYJjNQZfyjKwi6NaBPvr7Pp60A+lzyTz5I9aSPBYU7UC3ZMuIVqDEYd1IMk2LRE67wvO/2b12dsrml286QtNz+2ICj/0ZgugfEmvxQZkEHy23ZAt+l9dl8HHtqNw+ZIN84PqffiCfyEbOJANhW1LWZM1jiat52irVYsSDrb6nWrsOHExVOuY4K8ykKFQbZzMzHlUqLOOStU2UWvO6nidNiwncg1mvQBCsy8kjZ5RaPZNZuYPKnT6Q6XmKFDrPMCFdSbjpsqYNCET9R4dG4XKdUg1bjyQdfU1zisi9oU4dRI4WFwuF1YUEi+xJW2soVQKVREFuATPke9HGBeRS4Z07UriUW/psulNXSMNoGoXIxpBTEj3hByGSEgF40W18vkDYrnyabijry58QVjKmR0NdPUHkCttOKjvUV5J3ViGhFCQwiIBtATziM8XQXHzPBcxiC57Qjo20nOGqaHa7vb64O9OQC3blMLxFCqe3NMBAAA=') format('woff2'),
  url('../fonts/iconfont.woff?t=1554274113645') format('woff'),
  url('../fonts/iconfont.ttf?t=1554274113645') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1554274113645#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-dd:before {
  content: "\e64b";
}

