<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hunilee.dao.SecprotypeMapper" >
  <resultMap id="BaseResultMap" type="com.hunilee.bean.Secprotype" >
    <id column="sc_id" property="scId" jdbcType="INTEGER" />
    <result column="sc_name" property="scName" jdbcType="VARCHAR" />
    <result column="n_id" property="nId" jdbcType="VARCHAR" />
    <result column="sc_detaila" property="scDetaila" jdbcType="VARCHAR" />
    <result column="sc_detailb" property="scDetailb" jdbcType="VARCHAR" />
    <result column="sc_detailc" property="scDetailc" jdbcType="VARCHAR" />
    <result column="hot_pro" property="hotPro" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sc_id, sc_name, n_id, sc_detaila,sc_detailb,sc_detailc,pic1,hot_pro,
          pic2,
          pic3,
          pic4,
          pic5,
          pic6,
          pic7,
          pic8,
          pic9
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hf_secprotype
    where sc_id = #{scId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hf_secprotype
    where sc_id = #{scId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hunilee.bean.Secprotype" >
    insert into hf_secprotype (sc_id, sc_name, n_id, 
      sc_detaila,sc_detailb,sc_detailc,pic1,
          pic2,
          pic3,
          pic4,
          pic5,
          pic6,
          pic7,
          pic8,
          pic9)
    values (#{scId,jdbcType=INTEGER}, #{scName,jdbcType=VARCHAR}, #{nId,jdbcType=VARCHAR}, 
      #{scDetaila,jdbcType=VARCHAR},#{scDetailb,jdbcType=VARCHAR},#{scDetailc,jdbcType=VARCHAR},
          #{pic1},
          #{pic2},
          #{pic3},
          #{pic4},
          #{pic5},
          #{pic6},
          #{pic7},
          #{pic8},
          #{pic9})
  </insert>
  <insert id="insertSelective" parameterType="com.hunilee.bean.Secprotype" >
    insert into hf_secprotype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        sc_id,
      </if>
      <if test="scName != null" >
        sc_name,
      </if>
      <if test="nId != null" >
        n_id,
      </if>
      <if test="scDetaila != null" >
        sc_detaila,
      </if>
      <if test="scDetailb != null" >
        sc_detailb,
      </if>
      <if test="scDetailc != null" >
        sc_detailc
      </if>
      <if test="hotPro != null" >
        hot_pro
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        #{scId,jdbcType=INTEGER},
      </if>
      <if test="scName != null" >
        #{scName,jdbcType=VARCHAR},
      </if>
      <if test="nId != null" >
        #{nId,jdbcType=VARCHAR},
      </if>
      <if test="scDetaila != null" >
        #{scDetaila,jdbcType=VARCHAR},
      </if>
      <if test="scDetailb != null" >
        #{scDetailb,jdbcType=VARCHAR},
      </if>
      <if test="hotPro != null" >
        #{hotPro,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hunilee.bean.Secprotype" >
    update hf_secprotype
    <set >
      <if test="scName != null" >
        sc_name = #{scName,jdbcType=VARCHAR},
      </if>
      <if test="nId != null" >
        n_id = #{nId,jdbcType=VARCHAR},
      </if>
      <if test="scDetaila != null" >
        sc_detaila = #{scDetaila,jdbcType=VARCHAR},
      </if>
      <if test="scDetailb != null" >
        sc_detailb = #{scDetailb,jdbcType=VARCHAR},
      </if>
      <if test="scDetailc != null" >
        sc_detailc = #{scDetailc,jdbcType=VARCHAR}
      </if>
      <if test="scDetailc != null" >
        sc_detailc = #{scDetailc,jdbcType=VARCHAR}
      </if>
      <if test="hotPro != null" >
        hot_pro = #{hotPro,jdbcType=VARCHAR}
      </if>
    </set>
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hunilee.bean.Secprotype" >
    update hf_secprotype
    set sc_name = #{scName,jdbcType=VARCHAR},
      n_id = #{nId,jdbcType=VARCHAR},
      sc_detaila = #{scDetaila,jdbcType=VARCHAR},
      sc_detailb = #{scDetailb,jdbcType=VARCHAR},
      sc_detailc = #{scDetailc,jdbcType=VARCHAR},
      pic1 = #{pic1,jdbcType=VARCHAR},
      pic2 = #{pic2,jdbcType=VARCHAR},
      pic3 = #{pic3,jdbcType=VARCHAR},
      pic4 = #{pic4,jdbcType=VARCHAR},
      pic5 = #{pic5,jdbcType=VARCHAR},
      pic6 = #{pic6,jdbcType=VARCHAR},
      pic7 = #{pic7,jdbcType=VARCHAR},
      pic8 = #{pic8,jdbcType=VARCHAR},
      pic9 = #{pic9,jdbcType=VARCHAR},
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  
  <!-- 查询总记录数 -->
    <select id="selectCount" resultType="int">
        select count(*) from hf_secprotype 
    </select>

    <!-- 分页查询 -->
    <select id="findByPage" resultMap="BaseResultMap" parameterType="Map">
        select * from hf_secprotype
        <if test="start != null and size != null">
            limit #{start},#{size}
        </if>
    </select>

    <!-- 多条件查询 -->
    <select id="findConByPage" resultMap="BaseResultMap" parameterType="Map">
        select * from hf_secprotype
        <!-- 表示我进入的是文章列表页面 -->
        <if test="start != null and size != null">
            limit #{start},#{size}
        </if>
    </select>
    
    <!-- 查询所有二级问题大类 -->
    <select id="allSecProype" resultMap="BaseResultMap">
        select * from hf_secprotype
    </select>
    
    <!-- 查询所有热点问题 -->
    <select id="keynormal" resultMap="BaseResultMap">
        select * from hf_secprotype
        where hot_pro = 1
    </select>
    
    <!-- 根据nId查询 -->
    <select id="selectBynId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from hf_secprotype
        where n_id = #{nId}
    </select>
</mapper>